<div class="container mt-5">
    <div class="card text-center">
        <div class="card-body">
            <h5 class="card-title">Manage Categories</h5>
            <p class="card-text">Click the button below to view and manage product categories.</p>
            <button class="btn btn-primary" routerLink="/category">Go to Categories</button>
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="card text-center">
        <div class="card-body">
            <h5 class="card-title">Manage vaocher</h5>
            <p class="card-text">Click the button below to view and manage vaocher.</p>
            <button class="btn btn-primary" routerLink="/vaocher">Go to vaocher</button>
        </div>
    </div>
</div>
